<div id="add-employee-form">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <mat-select>
            <mat-option value="one">Software Development</mat-option>
            <mat-option value="two">Security</mat-option>
            <mat-option value="one">Sales</mat-option>
            <mat-option value="one">Recruiter</mat-option>
            <mat-option value="one">Information Technology</mat-option>
            <mat-option value="one">Human Resources</mat-option>
            <mat-option value="two">Emergency Services</mat-option>
            <mat-option value="one">Contractor</mat-option>
            <mat-option value="one">Claims</mat-option>
            <mat-option value="one">COO</mat-option>
            <mat-option value="one">CFO</mat-option>
            <mat-option value="one">CEO</mat-option>
        </mat-select>
    </mat-form-field>
</div>